@font-face {
  font-family: 'EncodeSans';
  src: url('../public/Fonts/EncodeSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'EncodeSans-Bold';
  src: url('../public/Fonts/EncodeSans-Bold.ttf');

  src: url('../public/Fonts/EncodeSans-Black.ttf');
  font-weight: 700;
  font-style: bold;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'EncodeSans', sans-serif;


}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.navbar{
  width: 100%;
  height: 15vh;
  background-color: #ffffff00;
  position: fixed;
  z-index: 150;
  

}
.nav-item{
  font-family: 'EncodeSans-Bold';
  color:white !important ;
  z-index: 150;
  margin-left: 20px;
  margin-right: 20px;
  transition: all 0.5s;

}
.navbar-brand{
  z-index: 150;
  margin-right: 20px;
}
.nav-logo{
  z-index: 150;
  max-width: 200px;
  max-height: 15vh;
  padding:0px;
  margin:0px;
  object-fit: scale-down;
}


.gradientOverlay{
  width: 100%;
  height: 100%;
  z-index: 149;
  position: absolute;
  background: rgba(252, 113, 98, 0);
background: linear-gradient(0deg, rgba(252,113,98,0) 0%, rgba(6,84,170,1) 100%);
}

.section{
  height:100vh;
  width:100vw ;
}

.sectionContainer{
  height: 100vh;
  width: 100vw;

}

.nav-item:hover{
color: #48d6d2 !important; 

}




.nav-item{
  z-index: 1800;
}

.navbar-nav{
  z-index: 1800;
}

.navbar{
  z-index: 1800;
}