

.welcome{
  height:100vh;
  width:100vw;
  background-color: rebeccapurple;
}

.backgroundBanner{
  height:100%;
  position: absolute;
  z-index: 100;
  left:0px;
object-fit: contain;
width: auto;
}
.fotoBanner{
  height:100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  object-fit: contain;
  right:0px;
  width: auto;
}

.backgroundBannerContainer{
  height:100vh;
  width: 100vw;
  position: absolute;
}

.ballSection{
  height:300px;
  width: 300px;
  border-radius: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'EncodeSans-Bold', sans-serif;
  font-weight: bold;
  color:white;
  cursor:pointer
}

.centroTitle {
  font-family: 'EncodeSans', sans-serif;
  color:white;
 

}

.centroTitleStrong {
  font-family: 'EncodeSans-Bold', sans-serif;
  color:white;
 

}