

.welcome{
  height:100vh;
  width:100vw;
  background-color: rebeccapurple;
}

.backgroundBanner{
  height:100%;
  position: absolute;
  z-index: 100;
  left:0px;
object-fit: contain;
width: auto;
}
.fotoBanner{
  height:100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  object-fit: contain;
  right:0px;
  width: auto;
}

.backgroundBannerContainer{
  height:100vh;
  width: 100vw;
  position: absolute;
}
